// size
$maxWidth: 1200px;

// fonts
$font: 'Poppins', sans-serif;

// colors
$dark-bg: #0F1624;
$grey: #BCBCBC;
$white: #fff;
$gradient: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
$reversegradient: linear-gradient(270deg, #945DD6 0%, #6978D1 66.67%, #13ADC7 100%);

$shadow: 
12px 12px 16px 0 rgba(0, 0, 0, 0.25),
-8px -8px 12px 0 rgba(148,93, 214, 0.25);

@mixin link() {
    color: $white;
    text-decoration: none;
  }

@mixin projectBorder() {
    box-shadow: 0px 0px 12px #FFFFFF;
    border-radius: 50px 0px;  
  }



@mixin sectionTitle() {
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  margin: 0 0 120px 100px;
}
  // @mixin adaptiv-font($bigSize, $mobSize) {
  //   $diference: $bigSize - $mobSize;
  //   $addMobSize: $diference + $diference * 0.7;
    
  //   font-size: #{$bigSize + px};

  //   @media (max-width: 760px) {
  //     font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  //   }
  //   @media (max-width: 1200px) {
  //     font-size: calc(#{$mobSize + px} + #{$diference} * (100vw / #{$maxWidth}));
  //   }
  
   
  // }